{# empty Twig template #}
{% import "form.macro.twig" as forms %}

<script>
    var package_prices = {{ packages|json_encode()|raw }};</script>

{{ set_assets('applications/Jobs/assets/css/job.css') }}

<h1 class="component-header">Add/Edit Candidates</h1>

<form id="main-edit-form" action="{{ generate_url('jobs.candidates.save') }}" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">

    {% set item_url = generate_url('jobs.jobs.detail', {'id': item.id}) %}

    <div class="single-candidate form-horizontal">

        <div>

            <div class="well well-sm">Personal Detail</div>
            <div class="col-sm-4">

                <b> Avatar</b>
                <div class="photo photo-input">
                    <div class="photo-wrapper">

                        {% if item.avatar %}
                            <img src="{{ resized_image(item.avatar_file, 150,150) }}" alt="{{ item.name }}" title="{{ item.name }}">
                        {% else %}
                            <i class="fa fa-plus"></i> Add Photo
                        {% endif %}
                    </div>

                    <input class="upload_photo" type="file"  name="form[avatar]" style="display: none;">

                </div>

                <div class="clearfix"></div>

                {{ forms.input('resume', 'file', item.resume, "Resume", null, null, 'placeholder="Enter Resume"') }}
                {{ forms.input('resume_title', 'text', item.resume.title,  "Resume Title", null, null, 'placeholder="Enter Resume Title"') }}

                {{ forms.input('default_resume', 'hidden', item.resume) }}

            </div>

            <div class="col-sm-8">

                {{ forms.input('name', 'text', item.name, 'Name') }}
                {{ forms.input('dob', 'date', item.dob, 'Date of Birth') }}
                {{ forms.input('phone', 'text', item.phone, 'Phone') }}
                {{ forms.input('email', 'text', item.email, 'Email') }}
                {{ forms.input('website', 'text', item.website, 'Website') }}
                {{ forms.input('education', 'select', item.education, 'Education', null, null, null, null, education_options) }}
                {{ forms.input('position', 'text', item.position, 'Position') }}

            </div>
            <div class="clearfix"></div>
            <br>


        </div>

        <div>
            <div class="well well-sm">Payment to be Featured </div>
            <div class="clearfix"></div>
            <div>
                <div class="col-sm-6">
                    Package <br>
                    <select id="package_id" class="form-control input-sm" name="form[package_id]">
                        <option value="">Select Package</option>
                        {% for package in packages%}
                            <option value="{{ package.id }}" {% if item.package_id == package.id %}selected{% endif %}>{{ package.title }}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="col-sm-6">
                    Package Price <br>
                    <select id="package_price_id" class="form-control input-sm" name="form[package_price_id]">
                        <option value="">Select Package Price</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>

        <div>
            <div class="well well-sm">Profile </div>
            <div class="col-sm-12">
                {{ forms.input('profile', 'editor', item.profile, 'Profile') }}
            </div>
        </div>
        <div class="clearfix"></div>
        <br>

        <div>
            <div class="well well-sm">Skills </div>
            {% include "candidate.edit.skills.twig" ignore missing with {'candidate_id': item.id}  %}
        </div>
        <div class="clearfix"></div>
        <br>


        <div class="candidate-form-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active documents_tab"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab" title='Documents'>Documents</a></li>
                <li role="presentation" class="categories_tab"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" title='Categories'>Categories</a></li>
                    {% if item.id %}   
                    <li role="presentation" class="educations_tab"><a href="#educations" aria-controls="educations" role="tab" data-toggle="tab" title='Educations'>Educations</a></li>
                    <li role="presentation" class="experience_tab"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab" title='Experience'>Experience</a></li>
                    {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="clearfix"></div>
                <div role="tabpanel" class="tab-pane active" id="documents">
                    <div class="candidate-documents-form">
                        {% include "candidate.edit.documents.twig" ignore missing with {'candidate_id': item.id}  %}
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="categories">
                    {% include "candidate.edit.category.twig" ignore missing with {'candidate_id': item.id}  %}
                </div>


                {% if item.id %}    
                    <div role="tabpanel" class="tab-pane" id="educations">
                        {% include "candidate.edit.education.twig" ignore missing with {'candidate_id': item.id}  %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="experience">
                        {% include "candidate.edit.experience.twig" ignore missing with {'candidate_id': item.id}  %}
                    </div>
                {% endif %}
            </div>
        </div>


        <div>
            <div class="well well-sm">Contact Detail</div>
            <div>
                <div class="col-sm-4">
                    <b>Country</b><br>
                    {{ forms.input('country_id', 'select', item.country_id, null, null, null, null, null, countries) }}
                </div>

                <div class="col-sm-4">
                    <b>Location</b><br>
                    {{ forms.input('location_id', 'select', item.location_id, null, null, null, null, null, locations) }}
                </div>

                <div class="col-sm-4">
                    <b>City</b><br>
                    {{ forms.input('city', 'text', item.city) }}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="job-location-map">
                <div class="clearfix"></div>
                <div id="map-canvas"></div>
            </div>


        </div>
        <div class="clearfix"></div>
    </div>

    <a class="btn btn-danger btn-sm" href="{{ generate_url('jobs.candidates') }}" title='Cancel'>Cancel</a>
    <input class="btn btn-success btn-sm" name="id" type="submit" value="Save">
    <br>
    <br>

    {{ forms.input('id', 'hidden', item.id) }}

    {{ forms.input('_token' ) }} 

</form>


{% include "candidate.form.education.twig" ignore missing %}

{% include "candidate.form.experience.twig" ignore missing %}



<script>


            jQuery(document).ready(function () {

        changePricing(jQuery('#package_id').val());

        jQuery('#package_id').change(function () {
            changePricing(jQuery('#package_id').val());
            jQuery('.advert-package-selection').html(jQuery("#package_id option:selected").text());
        });

        jQuery('#package_price_id').change(function () {
            jQuery('.advert-package_price-selection').html(jQuery("#package_price_id option:selected").text());
        });
    });

    function changePricing(package_id) {

        jQuery('.currency_id-group').hide();
        jQuery('.price-group').hide();
        jQuery('.discounted_price-group').hide();
        jQuery('.sale_end_date-group').hide();
        jQuery('.sale_start_date-group').hide();

        if (package_id) {

            var has_currency = package_prices[package_id]['has_currency'];
            var has_price = package_prices[package_id]['has_price'];
            var has_discount = package_prices[package_id]['has_discount'];
            var prices = package_prices[package_id]['prices'];

            if (has_currency) {
                jQuery('.currency_id-group').show();
            }

            if (has_price) {
                jQuery('.price-group').show();
            }

            if (has_discount) {
                jQuery('.discounted_price-group').show();
                jQuery('.sale_end_date-group').show();
                jQuery('.sale_start_date-group').show();
            }

            var html = '<option value="">Select Package Prices</option>';

            jQuery.each(prices, function (index, price) {
                html += '<option value="' + price['id'] + '">$' + price['price'] + ' For ' + price['no_of_days'] + ' Days</option>';
            });

            jQuery('#package_price_id').html(html);

        }
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM7aNBTgvwJyUwTqkbwAYa8mC7gZRItPs"></script>

<script>

    var marker;
    var map;

    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
                var myLatlng = new google.maps.LatLng({{ item.latitude|default('-1.2833300') }}, {{ item.longitude|default('36.8166700') }});
        var mapOptions = {
            center: myLatlng,
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(mapCanvas, mapOptions);

        marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });

        google.maps.event.addListener(map, "click", function (event) {
            // get lat/lon of click
            var clickLat = event.latLng.lat();
            var clickLon = event.latLng.lng();

            // show in input box
            document.getElementById("latitude").value = clickLat.toFixed(5);
            document.getElementById("longitude").value = clickLon.toFixed(5);

            marker.setPosition(event.latLng);
            map.setCenter(event.latLng);

            setDescription(clickLat, clickLon);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    jQuery(document).ready(function () {
        jQuery('#country_id').change(function () {
            setMarkerbyAddress();
        });

        jQuery('#location_id').change(function () {
            setMarkerbyAddress();
        });

        jQuery('#city').blur(function () {
            setMarkerbyAddress();
        });
    });

    function setMarkerbyAddress() {

        var country = jQuery('#country_id').find('option:selected').text();
        var location = jQuery('#location_id').find('option:selected').text();
        var city = jQuery('#city').val();

        address = country + ' ' + location + ' ' + city;

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({'address': address}, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();

                setDescription(latitude, longitude);

                var myLatlng = new google.maps.LatLng(latitude, longitude);

                map.setZoom(9);
                map.setCenter(myLatlng);
                marker.setPosition(myLatlng);
            }
        });
    }

    function setDescription(latitude, longitude) {
        jQuery('.map-latitude-longitude').html('Lat:' + latitude + ' - ' + 'Lon:' + longitude);
    }


</script>  