{# empty Twig template #}

{% set params = { 'candidate_id': candidate_id} %}

{{ set_assets('applications/Jobs/assets/js/job.js') }}
{{ set_assets('applications/Jobs/assets/css/job.css') }}

{% set experiences = callFunction( "Jobs.Candidates.Code.Models.CandidatesModel", 'getExperiences', params ) %}

{% if experiences|length > 0 %}
    <div class="single-candidate-skills">
        {% for experience in experiences %}
            <div class="single-candidate-skill">
                <h3>{{ experience.title }}</h3>

                <div>
                    <b> {{ experience.start_date|date('d M Y') }} - {{ experience.end_date|date('d M Y') }}</b>
                </div>   

                <div>
                    {{ experience.description }}
                </div>

                <div>
                    <b>Company</b>{{ experience.company }} 
                    <b>Position</b>{{ experience.position }}<br>
                    <b>Location</b>{{ experience.location }}<br>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<br>
<br>