{# empty Twig template #}
<p>Hi {{message.name}},</p>
<br>
<p>Your&nbsp;message was sent Successfully.&nbsp;</p>
<br>
<p><strong>Message:</strong> {{message.message}}</p>
<br>
<p><strong>Email:</strong> {{message.email}}</p>
<br>
<p><strong>Phone:</strong> {{message.phone}}</p>
<br>
<p>To View this&nbsp;job click link below.</p>
<br>
<p><a href="{{job.url}}">{{job.title}}</a></p>