{{ set_assets('applications/Jobs/Addons/Menujob/assets/css/menujob.css') }}

{% set jobs = callFunction( "Jobs.Addons.Menujob.Models.MenujobModel", 'getJobs' ) %}

<div class="menu-jobs">
    {% if jobs|length > 0 %}
        {% for job in jobs %}

            {% set job_url = generate_url('jobs.jobs.detail', {'id': job.id}) %}

            <div class="col-sm-3">
                <div class="menu-job">

                    <a href="{{ job_url }}" title="{{ job.title }}">
                        <b>{{ job.title|truncate(30) }}</b>
                    </a>

                    <div class="img-wrapper">
                        <a href="{{ job_url }}" title="{{ job.title }}">
                            <img src="{{ resized_image(job.image_file, 150,150) }}" alt="{{ job.title }}" title="{{ job.title }}" align="left" width="150px"/>
                        </a>
                    </div>

                    <div class="marketplace-job-addition">
                        <i class="fa fa-clock-o"></i> Posted:  {{ job.date_created|date('d M Y H:i') }} <br>
                    </div>

                    <a class="btn btn-primary btn-xs btn-flat col-sm-12" href="{{ job_url }}" title="View Job: {{ job.title }}">
                        View Job
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>